@(projetoForm: play.data.Form[Projeto], id : Long)(implicit session : play.mvc.Http.Session,request : play.mvc.Http.Request, flash: play.mvc.Http.Flash)

@import helper._
@import util.Materialize._

@dashboard("Cadastrar Novo Professores"){
  <div class="form_wrapper-medium">
    <h3 class="red-text">Cadastro de Etapa </h3>

    @form(routes.ProjetoController.editando(id), 'enctype -> "multipart/form-data"){
      @if(projetoForm.hasErrors){
        <p style="color:red" class="center-align">Corrija os erros abaixo!</p>
      }
      @if(flash.get("sucesso")){
        <p style="color:blue" class="center-align">@flash.get("sucesso")</p>
      }
      @CSRF.formField

      <div class="element-wrapper">
      @helper.inputText(projetoForm("quantidadeMaxDeParticipantes"), '_label -> "Quantidade Máxima de Participantes")(text, implicitly[Messages])
      </div>
      <div class="element-wrapper">
      @helper.inputText(projetoForm("titulo"), '_label -> "Título")(text, implicitly[Messages])
      </div>
      <div class="row">
        <div class="input-field col s11">
        @textarea(projetoForm("descricao"), '_label -> "Descrição")(area, implicitly[Messages])
        </div>
      </div>
      <div class="element-wrapper">
      @if(projetoForm.field("anexo.descricao").value()){
        @projetoForm.field("anexo.descricao").value() <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Download" href="@routes.AnexoController.dowloadArquivo(projetoForm.field("anexo.id").value())">
          <i class="small mdi-file-cloud-download green-text"></i>
        </a>
      }
      </div>
      <div class="element-wrapper">
        <div class="file-field input-field">
          <input class="file-path validate" type="text" name="textorquivo" />
          <div class="btn">
            <span>Arquivo</span>
            <input type="file" name="arquivo"/>
          </div>
        </div>
      </div>
      <button class="btn waves-effect waves-light blue" type="submit" name="action">Salvar
      </button>
    }
  </div>
}
