@(projetoForm: play.data.Form[Projeto])(implicit session : play.mvc.Http.Session,request : play.mvc.Http.Request, flash: play.mvc.Http.Flash)

@import helper._
@import util.Materialize._

@dashboard("Cadastrar Novo Professores"){
  <div class="form_wrapper-medium">
    <h3 class="red-text">Cadastro de Etapa </h3>

    @form(routes.ProjetoController.cadastrar(), 'enctype -> "multipart/form-data"){
      @if(projetoForm.hasErrors){
        <p style="color:red" class="center-align">Corrija os erros abaixo!</p>
      }
      @if(flash.get("sucesso")){
        <p style="color:blue" class="center-align">@flash.get("sucesso")</p>
      }
      @CSRF.formField

      <div class="element-wrapper">
      @helper.inputText(projetoForm("quantidadeMaxDeParticipantes"), '_label -> "Quantidade Máxima de Participantes")(text, implicitly[Messages])
      </div>
      <div class="element-wrapper">
      @helper.inputText(projetoForm("titulo"), '_label -> "Título")(text, implicitly[Messages])
      </div>
      <div class="row">
        <div class="input-field col s11">
        @textarea(projetoForm("descricao"), '_label -> "Descrição")(area, implicitly[Messages])
        </div>
      </div>
      <button class="btn waves-effect waves-light blue" type="submit" name="action">Cadastrar
      </button>
      <a class="waves-effect waves-teal btn-flat" href="@routes.ProjetoController.index()">Nova Projeto</a>
    }
  </div>
}
