@(srfForm: DynamicForm)(implicit session : play.mvc.Http.Session,request : play.mvc.Http.Request, flash: play.mvc.Http.Flash)

@import play.data.DynamicForm
@import helper._
@main("Solicitação Registro Professor") {

  @if(flash.get("error")) {
    <p style="color : red">@flash.get("error")</p>
  }
  @if(flash.get("sucesso")) {
    <p style="color : blue">@flash.get("sucesso")</p>
  }
  @form(routes.ProfessorController.enviarSolicitacaoRegistro()) {
    @textarea(srfForm("emails"))
    <input type="submit" value="Submit" />
  }
}