@(formUsuario: DynamicForm, email: String)(implicit session : play.mvc.Http.Session,request : play.mvc.Http.Request, flash: play.mvc.Http.Flash)

@import play.data.DynamicForm
@import helper._
@import util.Materialize._

@main("Editar Usuario") {
  <div class="form_wrapper-medium">
    <h3 class="red-text">Alterar Senha do @email</h3>
    @form(routes.UsuarioController.alterandoSenha()) {
      @if(flash.get("error")) {
        <p style="color : red" class="center-align">@flash.get("error")</p>
      }
      @if(flash.get("sucesso")) {
        <p style="color : blue" class="center-align">@flash.get("sucesso")</p>
      }
      @CSRF.formField
      <input type="hidden" name="email" value="@email"/>
      <div class="element-wrapper">
        @inputText(formUsuario("senha"),'_label -> "Senha")(password, implicitly[Messages])
      </div>
      <div class="element-wrapper">
        @inputText(formUsuario("senhaConfirmar"),'_label -> "Confirmar Senha")(password, implicitly[Messages])
      </div>
      <button class="btn waves-effect waves-light blue" type="submit" name="action">Mudar </button>
    }
  </div>
}