@(formUsuario: DynamicForm)(implicit session : play.mvc.Http.Session,request : play.mvc.Http.Request, flash: play.mvc.Http.Flash)

@import play.data.DynamicForm
@import helper._
@import util.Materialize._

@main("Editar Usuario") {
<div class="form_wrapper-medium">
        <h3 class="red-text">Editar Usuário </h3>
  @form(routes.UsuarioController.edicao()) {
      @if(flash.get("error")) {
          <p style="color : red" class="center-align">@flash.get("error")</p>
      }
      @if(flash.get("sucesso")) {
          <p style="color : blue" class="center-align">@flash.get("sucesso")</p>
      }
      <div class="element-wrapper">
        @inputText(formUsuario("email"),'_label -> "Email")(text, implicitly[Messages])
      </div>
      <div class="element-wrapper">
          @inputText(formUsuario("senha"),'_label -> "Senha")(password, implicitly[Messages])
      </div>
      <div class="element-wrapper">
          @inputText(formUsuario("confirmaSenha"), '_label -> "Confirmar Senha")(password, implicitly[Messages])
      </div>
      <button class="btn waves-effect waves-light blue" type="submit" name="action">Salvar </button>
      <a class="waves-effect waves-teal btn-flat" href="@routes.UsuarioController.editar()">Limpar Campos</a>
  }
</div>
}