@(usuarioForm: DynamicForm)(implicit session : play.mvc.Http.Session,request : play.mvc.Http.Request, flash: play.mvc.Http.Flash)

@import play.data.DynamicForm
@import helper._
@import views.html.materializecss._
@main("Login") {
  <div class="form_wrapper">
    <h3 class="red-text">SSE</h3>
    @form(routes.Application.autenticacao()) {
      @if(flash.get("error")) {
        <p style="color : red" class="center-align">@flash.get("error")</p>
      }
      <div class="element-wrapper">
        @text(usuarioForm("email"),
          label = "Email")
      </div>
      <div class="element-wrapper">
        @password(usuarioForm("senha"),
          label = "Senha")
      </div>
      <div class="element-wrapper">
        <input type="submit" value="Entrar">
      </div>
    }
  </div>
}