@(usuarioForm: DynamicForm)(implicit session : play.mvc.Http.Session,request : play.mvc.Http.Request, flash: play.mvc.Http.Flash)

@import play.data.DynamicForm
@import helper._
@import util.Materialize._

@main("Login") {
  <div class="form_wrapper">
    <h3 class="red-text">SSE</h3>
    @form(routes.Application.autenticacao()) {
      @if(flash.get("error")) {
        <p style="color : red" class="center-align">@flash.get("error")</p>
      }
      <div class="element-wrapper">
        @inputText(usuarioForm("email"),
          '_label -> "Email")(text, implicitly[Messages])
      </div>
      @CSRF.formField
      <div class="element-wrapper">
        @inputText(usuarioForm("senha"),
          '_label -> "Senha")(password, implicitly[Messages])
      </div>
      <div class="element-wrapper">
        <button style="width: 100%" class="btn waves-effect waves-light btn-large col s12 m6" type="submit" name="action">Entra</button>
      </div>
      <a class="waves-effect waves-teal btn-flat red-text" href="@routes.UsuarioController.esqueceuSenha()">Esqueceu a senha?</a>
    }
  </div>
}