@(statusForm: DynamicForm, id : Long)(implicit session : play.mvc.Http.Session,request : play.mvc.Http.Request, flash: play.mvc.Http.Flash)

@import play.data.DynamicForm
@import helper._
@import util.Materialize._

@main("Mudar Permissão") {
  <div class="form_wrapper">
    <h3>Mudar Permissão</h3>
    @form(routes.ConsultarUsuarioController.mudarPermissao(id)) {
      @CSRF.formField
      @if(flash.get("error")) {
        <p style="color : red" class="center-align">@flash.get("error")</p>
      }

      <div class="element-wrapper">
        <select name='@statusForm.field("permissao").name()'>

          @for(permissao <- Permissao.values()){
            <option value="@permissao.name()" @if(permissao.name().equals(statusForm.field("permissao").value())){selected}>@permissao.descricao</option>
          }
        </select>
        <label>Selecione nova permissão</label>
      </div>

      <div class="element-wrapper">
        <button class="btn waves-effect waves-light btn-large" id="muda" type="submit" name="action">Mudar</button>
      </div>
    }
  </div>
}