@(alunos : java.util.List[Aluno])(implicit session : play.mvc.Http.Session,request : play.mvc.Http.Request, flash: play.mvc.Http.Flash)



@dashboard("Consultar Aluno"){
  <div id="message">@flash.get("sucesso")</div>
  <div class="form_wrapper-medium">
    <h3 class="red-text">Consulta do Aluno </h3>
    <table id="table">
      <thead>
        <tr>
          <th>Matricula</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        @for(aluno <- alunos) {
          <tr>
            <td>@aluno.matricula</td>
            <td>@aluno.nome</td>
            <td>@aluno.usuario.email</td>
            <td>@if(!aluno.usuario.ativo){
                  <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Ativar Aluno" href="@routes.ConsultarUsuarioController.ativaAluno(aluno.id)"><i class="small mdi-action-done green-text"></i></a>
                }else{
                  <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Bloquear Aluno" href="@routes.ConsultarUsuarioController.bloquearAluno(aluno.id)"><i class="small mdi-content-block red-text"></i></a>
                }
            </td>
          </tr>
        }

      </tbody>
    </table>
  </div>

}

