@(etapas : java.util.List[Documento])(implicit session : play.mvc.Http.Session,request : play.mvc.Http.Request)
@dashboard("SSE") {
  <div>
    <h5 class="red-text">Etapas para inscrição institucional do Estágio Supervisionado</h5>

    <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
      @for(etapa <- etapas) {
        <li>
          <div class="collapsible-header"><i class="mdi-image-filter-@etapa.numero"></i> @etapa.titulo</div>
          <div class="collapsible-body">
            <p>@etapa.descricao</p>
            <p class="center-align">@etapa.anexo.descricao
            <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Download" href="@routes.EtapaAcoesController.dowloadArquivo(etapa.id)">
              <i class="small mdi-file-cloud-download green-text"></i>
            </a>
            </p>
          </div>
        </li>
      }
    </ul>
  </div>
}
