@(arquivos : java.util.List[Arquivo],arquivo: Arquivo, solicitacoes : java.util.List[SolicitacaoDeParticipacao],etapas : java.util.List[Documento],projetos : java.util.List[Projeto], relatorio: Relatorio, aluno: Aluno, projetoForm : play.data.DynamicForm)(implicit session : play.mvc.Http.Session,request : play.mvc.Http.Request, flash: play.mvc.Http.Flash)
@import views.html.helper.CSRF
@dashboard("SSE") {
  <div>
    <h5 class="red-text">Bem vindo ao Sistema de Supervisão de Estágio</h5>
    <ul class="tabs">
      <li class="tab col s3"><a @if(!flash.get("relatorio") && !flash.get("projeto")){class="active"} href="#fase">Fases</a></li>
      @if(session.get("permissao").equals("ALUNO")) {
        @if(aluno != null && aluno.projeto != null) {
          <li class="tab col s3"><a @if(flash.get("projeto")) {class="active"} href="#projeto">Meu Projeto</a></li>
        }else{
          <li class="tab col s3"><a @if(flash.get("projeto")) {class="active"} href="#projeto">Projetos</a></li>
        }
        @if(aluno != null && aluno.projeto != null) {
          <li class="tab col s3"><a @if(flash.get("relatorio")) {class="active"} href="#relatorio">Relatório</a></li>
        }
      }
      @if(session.get("permissao").equals("PROFESSOR_ORIENTADOR")) {
        <li class="tab col s3"><a @if(flash.get("projeto")){class="active"} href="#spp"><small>Solicitação de Participação de Projeto</small></a></li>
        <li class="tab col s3"><a @if(flash.get("relatorio")) {class="active"} href="#relatorio">Relatório Entregue</a></li>
      }
    </ul>
    <div id="fase" class="col s12">
      @common.fases(etapas)
    </div>
    @if(session.get("permissao").equals("ALUNO")) {
      <div id="projeto" class="col s12">
        @if(aluno != null && aluno.projeto != null) {
          @common.projeto(aluno.projeto)
        }else{
          <div id="message">@flash.get("sucesso")</div>
          @common.projetos(projetos,projetoForm)
        }
      </div>
      @if(aluno != null && aluno.projeto != null) {
        <div id="relatorio" class="col s12">

        @if(relatorio != null) {
          @common.relatorio(relatorio, arquivo)
          <div id="message">@flash.get("sucesso")</div>

        }else{
          <p class="z-depth-5">Nesse momento não a data de entrega de relatório</p>
        }
        </div>

      }
    }
    @if(session.get("permissao").equals("PROFESSOR_ORIENTADOR")) {
      <div id="spp" class="col s12">
        <div id="message">@flash.get("sucesso")</div>
        @common.spp(solicitacoes)
      </div>
      <div id="relatorio" class="col s12">
        @common.arquivo(arquivos,projetoForm)
      </div>
    }
  </div>
}
