@(etapas : java.util.List[Documento])
<ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
  @for(etapa <- etapas) {
    <li>
      <div class="collapsible-header"><i class="mdi-image-filter-@etapa.numero"></i> @etapa.titulo</div>
      <div class="collapsible-body">
        <p>@etapa.descricao</p>
        @if(etapa.anexo != null){
          <p class="center-align">@etapa.anexo.descricao
            <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Download" href="@routes.AnexoController.dowloadArquivo(etapa.anexo.id.toString)">
              <i class="small mdi-file-cloud-download green-text"></i>
            </a>
          </p>
        }
      </div>
    </li>
  }
</ul>